.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 10px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease-in-out;
  background-color: black;
  color: white;
}

.chipSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 10px;
  border-radius: 35px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-size: 12px;
}

@media only screen and (min-width: 600px) {
  .chip:hover,
  .chipSelected {
    background-color: white;
    color: black;
  }
}
